body {
  background-color: #0a0a0a;
}

.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}

.component {
  background-color: #523d8d;
  width: 35%;
  max-width: 600px;
  margin: 1em auto;
  margin-top: 3em;
  padding-bottom: 2em;
  border: 0.1px solid black;
  border-radius: 10px;
}

.musicCover {
  border-radius: 10%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  margin-top: -1em;
  color: #e4d9d9;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  width: 80%;
}

input[type="range"] {
  background-color: #e70808;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}

